*.zip filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.vt filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.og filter=lfs diff=lfs merge=lfs -text
*package.xml -filter=lfs -diff=lfs -merge=lfs -text
test_data/ur3_calibration_test/ur3.zip filter=lfs diff=lfs merge=lfs -text
